/* @media screen and (max-width: 768px) {
    .bg-secondary{
        background-color: tomato;
    }
} */

@media screen and (max-width: 768px) {
    body{
        background-color: tomato;
    }
}
.portbanner{
    position: absolute; 
    bottom: -25px;
    /* left: 50px; */
    background-color: transparent;
    width: 300px;
    text-align: center;
}
.dark{
    color: black;
}
.shift{
    padding-left: 30px;
}